In [2]:
import pandas as pd

dados_exercicio = None

dados_exercicio = pd.read_csv(
    '/content/trabalho_03.csv',
     sep=';',
    engine='python',
    encoding='utf-8'
)

print(dados_exercicio)

    ID  Duration          Date  Pulse  Maxpulse Calories
0    0        60  '2020/12/01'    110       130     4091
1    1        60  '2020/12/02'    117       145     4790
2    2        60  '2020/12/03'    103       135     3400
3    3        45  '2020/12/04'    109       175     2824
4    4        45  '2020/12/05'    117       148     4060
5    5        60  '2020/12/06'    102       127     3000
6    6        60  '2020/12/07'    110       136     3740
7    7       450  '2020/12/08'    104       134     2533
8    8        30  '2020/12/09'    109       133     1951
9    9        60  '2020/12/10'     98       124     2690
10  10        60  '2020/12/11'    103       147     3293
11  11        60  '2020/12/12'    100       120     2507
12  12        60  '2020/12/12'    100       120     2507
13  13        60  '2020/12/13'    106       128     3453
14  14        60  '2020/12/14'    104       132     3793
15  15        60  '2020/12/15'     98       123     2750
16  16        60  '2020/12/16'     98       120     2152
17  17        60  '2020/12/17'    100       120     3000
18  18        45  '2020/12/18'     90       112      NaN
19  19        60  '2020/12/19'    103       123     3230
20  20        45  '2020/12/20'     97       125   2430 2
21   1        60  '2020/12/21'    108       131     3642
22  22        45           NaN    100       119     2820
23  23        60  '2020/12/23'    130       101     3000
24  24        45  '2020/12/24'    105       132     2460
25  25        60  '2020/12/25'    102       126     3345
26  26        60      20201226    100       120     2500
27  27        60  '2020/12/27'     92       118     2410
28  28        60  '2020/12/28'    103       132      NaN
29  29        60  '2020/12/29'    100       132     2800
30  30        60  '2020/12/30'    102       129     3803
31  31        60  '2020/12/31'     92       115     2430

In [3]:
subconjunto_dados = dados_exercicio[['Date', 'Pulse', 'Calories']]
print(subconjunto_dados)

            Date  Pulse Calories
0   '2020/12/01'    110     4091
1   '2020/12/02'    117     4790
2   '2020/12/03'    103     3400
3   '2020/12/04'    109     2824
4   '2020/12/05'    117     4060
5   '2020/12/06'    102     3000
6   '2020/12/07'    110     3740
7   '2020/12/08'    104     2533
8   '2020/12/09'    109     1951
9   '2020/12/10'     98     2690
10  '2020/12/11'    103     3293
11  '2020/12/12'    100     2507
12  '2020/12/12'    100     2507
13  '2020/12/13'    106     3453
14  '2020/12/14'    104     3793
15  '2020/12/15'     98     2750
16  '2020/12/16'     98     2152
17  '2020/12/17'    100     3000
18  '2020/12/18'     90      NaN
19  '2020/12/19'    103     3230
20  '2020/12/20'     97   2430 2
21  '2020/12/21'    108     3642
22           NaN    100     2820
23  '2020/12/23'    130     3000
24  '2020/12/24'    105     2460
25  '2020/12/25'    102     3345
26      20201226    100     2500
27  '2020/12/27'     92     2410
28  '2020/12/28'    103      NaN
29  '2020/12/29'    100     2800
30  '2020/12/30'    102     3803
31  '2020/12/31'     92     2430

In [5]:
pd.options.display.max_rows = 9999

dados_exercicio = pd.read_csv('trabalho_03.csv', sep=';', engine='python', encoding='utf-8')

print(dados_exercicio.to_string())

    ID  Duration          Date  Pulse  Maxpulse Calories
0    0        60  '2020/12/01'    110       130     4091
1    1        60  '2020/12/02'    117       145     4790
2    2        60  '2020/12/03'    103       135     3400
3    3        45  '2020/12/04'    109       175     2824
4    4        45  '2020/12/05'    117       148     4060
5    5        60  '2020/12/06'    102       127     3000
6    6        60  '2020/12/07'    110       136     3740
7    7       450  '2020/12/08'    104       134     2533
8    8        30  '2020/12/09'    109       133     1951
9    9        60  '2020/12/10'     98       124     2690
10  10        60  '2020/12/11'    103       147     3293
11  11        60  '2020/12/12'    100       120     2507
12  12        60  '2020/12/12'    100       120     2507
13  13        60  '2020/12/13'    106       128     3453
14  14        60  '2020/12/14'    104       132     3793
15  15        60  '2020/12/15'     98       123     2750
16  16        60  '2020/12/16'     98       120     2152
17  17        60  '2020/12/17'    100       120     3000
18  18        45  '2020/12/18'     90       112      NaN
19  19        60  '2020/12/19'    103       123     3230
20  20        45  '2020/12/20'     97       125   2430 2
21   1        60  '2020/12/21'    108       131     3642
22  22        45           NaN    100       119     2820
23  23        60  '2020/12/23'    130       101     3000
24  24        45  '2020/12/24'    105       132     2460
25  25        60  '2020/12/25'    102       126     3345
26  26        60      20201226    100       120     2500
27  27        60  '2020/12/27'     92       118     2410
28  28        60  '2020/12/28'    103       132      NaN
29  29        60  '2020/12/29'    100       132     2800
30  30        60  '2020/12/30'    102       129     3803
31  31        60  '2020/12/31'     92       115     2430

In [7]:
pd.options.display.max_rows = 20

dados_exercicio = pd.read_csv('trabalho_03.csv', sep=';', engine='python', encoding='utf-8')

print("Primeiras 10 linhas:")
print(dados_exercicio.head(10))

print("\n√öltimas 10 linhas:")
print(dados_exercicio.tail(10))

Primeiras 10 linhas:
   ID  Duration          Date  Pulse  Maxpulse Calories
0   0        60  '2020/12/01'    110       130     4091
1   1        60  '2020/12/02'    117       145     4790
2   2        60  '2020/12/03'    103       135     3400
3   3        45  '2020/12/04'    109       175     2824
4   4        45  '2020/12/05'    117       148     4060
5   5        60  '2020/12/06'    102       127     3000
6   6        60  '2020/12/07'    110       136     3740
7   7       450  '2020/12/08'    104       134     2533
8   8        30  '2020/12/09'    109       133     1951
9   9        60  '2020/12/10'     98       124     2690

√öltimas 10 linhas:
    ID  Duration          Date  Pulse  Maxpulse Calories
22  22        45           NaN    100       119     2820
23  23        60  '2020/12/23'    130       101     3000
24  24        45  '2020/12/24'    105       132     2460
25  25        60  '2020/12/25'    102       126     3345
26  26        60      20201226    100       120     2500
27  27        60  '2020/12/27'     92       118     2410
28  28        60  '2020/12/28'    103       132      NaN
29  29        60  '2020/12/29'    100       132     2800
30  30        60  '2020/12/30'    102       129     3803
31  31        60  '2020/12/31'     92       115     2430

In [8]:
dados_exercicio = pd.read_csv('trabalho_03.csv', sep=';', engine='python', encoding='utf-8')

print("Informa√ß√µes gerais sobre o conjunto de dados:")
dados_exercicio.info()

Informa√ß√µes gerais sobre o conjunto de dados:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ID        32 non-null     int64
 1   Duration  32 non-null     int64
 2   Date      31 non-null     object
 3   Pulse     32 non-null     int64
 4   Maxpulse  32 non-null     int64
 5   Calories  30 non-null     object
dtypes: int64(4), object(2)
memory usage: 1.6+ KB

In [9]:
import pandas as pd
import numpy as np

In [12]:
dados_exercicio = pd.read_csv('trabalho_03.csv', sep=';', engine='python', encoding='utf-8')

print("Informa√ß√µes gerais sobre o conjunto de dados:")
dados_exercicio.info()

print("\nPrimeiras 5 linhas:")
print(dados_exercicio.head(5))

print("\n√öltimas 5 linhas:")
print(dados_exercicio.tail(5))

dados_exercicio_copia = dados_exercicio.copy()

dados_exercicio_copia['Calories'].fillna(0, inplace=True)

print("\nDados ap√≥s substituir valores nulos em 'Calories' por 0:")
print(dados_exercicio_copia)

dados_exercicio_copia['Date'].fillna('1900/01/01', inplace=True)

print("\nDados ap√≥s substituir valores nulos em 'Date' por '1900/01/01':")
print(dados_exercicio_copia)

dados_exercicio_copia['Date'] = dados_exercicio_copia['Date'].str.replace("'", "")

try:
    dados_exercicio_copia['Date'] = pd.to_datetime(dados_exercicio_copia['Date'], format='%Y/%m/%d', errors='coerce')
except Exception as e:
    print("\nErro ao converter a coluna 'Date' para datetime:", e)

dados_exercicio_copia['Date'].replace('1900/01/01', np.nan, inplace=True)

dados_exercicio_copia['Date'] = pd.to_datetime(dados_exercicio_copia['Date'], errors='coerce')

print("\nDados ap√≥s substituir '1900/01/01' por NaN e converter para datetime:")
print(dados_exercicio_copia)

dados_exercicio_copia['Date'] = dados_exercicio_copia['Date'].replace('20201226', '2020/12/26')
dados_exercicio_copia['Date'] = pd.to_datetime(dados_exercicio_copia['Date'], errors='coerce')

print("\nDados ap√≥s corrigir o valor '20201226' e converter para datetime:")
print(dados_exercicio_copia)

dados_exercicio_copia.dropna(subset=['Date'], inplace=True)

print("\nDataFrame final ap√≥s todas as transforma√ß√µes:")
print(dados_exercicio_copia)

Informa√ß√µes gerais sobre o conjunto de dados:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ID        32 non-null     int64
 1   Duration  32 non-null     int64
 2   Date      31 non-null     object
 3   Pulse     32 non-null     int64
 4   Maxpulse  32 non-null     int64
 5   Calories  30 non-null     object
dtypes: int64(4), object(2)
memory usage: 1.6+ KB

Primeiras 5 linhas:
   ID  Duration          Date  Pulse  Maxpulse Calories
0   0        60  '2020/12/01'    110       130     4091
1   1        60  '2020/12/02'    117       145     4790
2   2        60  '2020/12/03'    103       135     3400
3   3        45  '2020/12/04'    109       175     2824
4   4        45  '2020/12/05'    117       148     4060

√öltimas 5 linhas:
    ID  Duration          Date  Pulse  Maxpulse Calories
27  27        60  '2020/12/27'     92       118     2410
28  28        60  '2020/12/28'    103       132      NaN
29  29        60  '2020/12/29'    100       132     2800
30  30        60  '2020/12/30'    102       129     3803
31  31        60  '2020/12/31'     92       115     2430

Dados ap√≥s substituir valores nulos em 'Calories' por 0:
    ID  Duration          Date  Pulse  Maxpulse Calories
0    0        60  '2020/12/01'    110       130     4091
1    1        60  '2020/12/02'    117       145     4790
2    2        60  '2020/12/03'    103       135     3400
3    3        45  '2020/12/04'    109       175     2824
4    4        45  '2020/12/05'    117       148     4060
..  ..       ...           ...    ...       ...      ...
27  27        60  '2020/12/27'     92       118     2410
28  28        60  '2020/12/28'    103       132        0
29  29        60  '2020/12/29'    100       132     2800
30  30        60  '2020/12/30'    102       129     3803
31  31        60  '2020/12/31'     92       115     2430

[32 rows x 6 columns]

Dados ap√≥s substituir valores nulos em 'Date' por '1900/01/01':
    ID  Duration          Date  Pulse  Maxpulse Calories
0    0        60  '2020/12/01'    110       130     4091
1    1        60  '2020/12/02'    117       145     4790
2    2        60  '2020/12/03'    103       135     3400
3    3        45  '2020/12/04'    109       175     2824
4    4        45  '2020/12/05'    117       148     4060
..  ..       ...           ...    ...       ...      ...
27  27        60  '2020/12/27'     92       118     2410
28  28        60  '2020/12/28'    103       132        0
29  29        60  '2020/12/29'    100       132     2800
30  30        60  '2020/12/30'    102       129     3803
31  31        60  '2020/12/31'     92       115     2430

[32 rows x 6 columns]

Dados ap√≥s substituir '1900/01/01' por NaN e converter para datetime:
    ID  Duration       Date  Pulse  Maxpulse Calories
0    0        60 2020-12-01    110       130     4091
1    1        60 2020-12-02    117       145     4790
2    2        60 2020-12-03    103       135     3400
3    3        45 2020-12-04    109       175     2824
4    4        45 2020-12-05    117       148     4060
..  ..       ...        ...    ...       ...      ...
27  27        60 2020-12-27     92       118     2410
28  28        60 2020-12-28    103       132        0
29  29        60 2020-12-29    100       132     2800
30  30        60 2020-12-30    102       129     3803
31  31        60 2020-12-31     92       115     2430

[32 rows x 6 columns]

Dados ap√≥s corrigir o valor '20201226' e converter para datetime:
    ID  Duration       Date  Pulse  Maxpulse Calories
0    0        60 2020-12-01    110       130     4091
1    1        60 2020-12-02    117       145     4790
2    2        60 2020-12-03    103       135     3400
3    3        45 2020-12-04    109       175     2824
4    4        45 2020-12-05    117       148     4060
..  ..       ...        ...    ...       ...      ...
27  27        60 2020-12-27     92       118     2410
28  28        60 2020-12-28    103       132        0
29  29        60 2020-12-29    100       132     2800
30  30        60 2020-12-30    102       129     3803
31  31        60 2020-12-31     92       115     2430

[32 rows x 6 columns]

DataFrame final ap√≥s todas as transforma√ß√µes:
    ID  Duration       Date  Pulse  Maxpulse Calories
0    0        60 2020-12-01    110       130     4091
1    1        60 2020-12-02    117       145     4790
2    2        60 2020-12-03    103       135     3400
3    3        45 2020-12-04    109       175     2824
4    4        45 2020-12-05    117       148     4060
..  ..       ...        ...    ...       ...      ...
27  27        60 2020-12-27     92       118     2410
28  28        60 2020-12-28    103       132        0
29  29        60 2020-12-29    100       132     2800
30  30        60 2020-12-30    102       129     3803
31  31        60 2020-12-31     92       115     2430

[30 rows x 6 columns]

<ipython-input-12-628ffe148cb9>:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dados_exercicio_copia['Calories'].fillna(0, inplace=True)
<ipython-input-12-628ffe148cb9>:19: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dados_exercicio_copia['Date'].fillna('1900/01/01', inplace=True)
<ipython-input-12-628ffe148cb9>:31: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dados_exercicio_copia['Date'].replace('1900/01/01', np.nan, inplace=True)